@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Lora&display=swap');

/* General styles */
body {
  font-family: 'Roboto', sans-serif; /* Default font */
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

/* App container styles */
.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  padding: 10px;
  color: white;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

/* Additional styling can be added  */
